RewriteEngine on

# Favicon
RewriteRule ^favicon.ico$ /assets/favicons/favicon.ico [L]

############################################

# redirext www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

###########################################

# Codeigniter Stuff
RewriteCond $1 !^(index\.php|assets|min)
RewriteRule ^(.*)$ /index.php/$1 [L]
