RewriteEngine on

# Use SSL always
#RewriteCond %{HTTPS} !=on
#RewriteCond %{HTTP_HOST}  !^local
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

############################################

# Codeigniter Stuff
RewriteCond $1 !^(favicon\.ico|index\.php|assets|min)
RewriteRule ^(.*)$ /index.php/$1 [L]